@import "../../../node_modules/font-awesome/css/font-awesome.css";
@import "../../../node_modules/bootstrap/dist/css/bootstrap.css";

h1 {
    color: red;
}

div.content {
    background-color: transparent;
}

#h2 ul li {
    background-position: center;
}