<h1>Page {{namePage}}</h1>
<h2>{{homeData}}</h2>

<button class="btn btn-primary" ng-click="viewClick()">Click xem dieu dac biet</button>
<h1 ng-show="visible">Xin chao toi la Nguyễn Văn Mạnh</h1>
<button class="btn btn-primary" ng-click="getData()">Clickk vo day de test api media</button>

<button class="btn btn-primary" ng-click="getData2()">Clickk vo day de test api GET</button>

<button class="btn btn-primary" ng-click="getData3()">Clickk vo day de Tạo 1 TRAFFIC</button>

<button class="btn btn-primary" ng-click="getData4()">Clickk vo day de Tạo 1 Site</button>

<button class="btn btn-primary" ng-click="getData5()">Clickk vo day de Delete 1 Site</button>

<button class="btn btn-danger" ng-click="getData6()">Test Domain request</button>